/* Media Query for mobile */
@media (min-width: 300px) and (max-width: 767px) {
    .home{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .home{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
    .home{
        display: grid;
        grid-template-columns:repeat(2, 1fr);

    }
}

.home{
    margin: 50px;
}
.container{
    display: flex;
    justify-content: center;

}

.skillsnav{
    border: 1px solid black;
}