@media (min-width: 300px) and (max-width: 767px) {
    .text h1{
        font-size: 20px;
    }
    
    .text h4{
        font-size: 10px;
    }

    .header img{
        width: 90%;
        max-width: 700px;
        margin: 20px;
        margin-left: 30px;
    }
    
    .header{
        position:relative;
    }
    .text {
        position: absolute;
        top: 25px;
        left: 35px;
      }
    }
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .text h1{
        font-size: 30px;
    }
    
    .text h4{
        font-size: 20px;
    }

    .header img{
        width: 90%;
        max-width: 900px;
        margin: 30px;
        margin-left: 40px;
    }
    
    .header{
        position:relative;
    }
    
    .text {
        position: absolute;
        top: 50px;
        left: 100px;
      }
}
  
  @media (min-width: 1025px){
    .text h1{
        font-size: 70px;
    }
    
    .text h4{
        font-size: 20px;
    }

    .header img{
        width: 90%;
        margin: 30px;
        margin-left: 60px;
    }
    
    .header{
        position:relative;
    }
    
    .text {
        position: absolute;
        top: 50px;
        left: 100px;
      }
}
