/* div img{
    height: 500px;
} */

.imgdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgdiv img {
    height: 100%;
}

.p{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout{
  margin-bottom: 20px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}